.wrapper {
  text-align: center;
}

.button {
  width: auto;
  background-color: #61dafb;
  color: black;
  text-align: center;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}
